// Primary
$color-p-blue: #07071C;
$color-p-grey: #F9B323;
$color-p-white: #FFFFFF;

// Neutral Colors
$color-n-chrome: #858AAB;
$color-n-silver: #E9E9E9;
$color-n-titanium: #8C8C8C;

$color-n-black: #000000;

$shadow-projects-widget: 0px 4px 4px rgba(7, 7, 28, 0.09);
$shadow-navbar: 0px 1px 4px rgba(0, 0, 0, 0.07);
$shadow-picture-project: 0px 4px 20px rgba(7, 7, 28, 0.09);
$shadow-widget-project: 0px 4px 4px rgba(7, 7, 28, 0.09);