@import "./breakpoints.scss";

$primary-font: 'Alegreya', serif;

@mixin h1 {
    font-size: 80px;
    line-height: 104px;
    font-weight: 300;
    color: $color-p-white;

    //Tablet
    @media (min-width: $bp-mobile) and (max-width: $bp-tablet) {
        font-size: 72px;
        line-height: 93.6px;
    }
    //Mobile
    @media (max-width: $bp-mobile) {
        font-size: 56px;
        line-height: 1.3;
    }
}
@mixin h2 {
    font-size: 52px;
    line-height: 67.6px;
    font-weight: bold;
    color: $color-p-white;

    //Tablet
    @media (min-width: $bp-mobile) and (max-width: $bp-tablet) {
        font-size: 40px;
        line-height: 52px;
    }
    //Mobile
    @media (max-width: $bp-mobile) {
        font-size: 44px;
        line-height: 57.2px;
    }
}
@mixin h3 {
    font-size: 52px;
    line-height: 67.6px;
    font-weight: bold;
    color: $color-p-white;

    //Tablet
    @media (min-width: $bp-mobile) and (max-width: $bp-tablet) {
        font-size: 40px;
        line-height: 52px;
    }
    //Mobile
    @media (max-width: $bp-mobile) {
        font-size: 44px;
        line-height: 57.2px;
    }
}
@mixin h4 {
    font-size: 32px;
    line-height: 41.6px;
    font-weight: bold;
    color: $color-p-white;

    //Mobile & tablet
    @media (max-width: $bp-tablet) {
        font-size: 24px;
        line-height: 31.2px;
        font-weight: bold;
    }
}
@mixin h5 {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: bold;
    color: $color-p-white;
}
@mixin span-light {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 300;
    color: $color-p-white;
    margin: 0;
}
@mixin body-standard {
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 300;
    color: $color-p-white;
}
@mixin body-medium {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 300;
    color: $color-p-white;
}
@mixin body-large {
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    color: $color-p-white;

    //Mobile & tablet
    @media (max-width: $bp-tablet) {
        font-size: 32px;
        line-height: 41.6px;
        font-weight: 300;
    }
}
@mixin span-bold {
    font-size: 70px;
    line-height: 91px;
    font-weight: bold;
    color: $color-p-white;

    //Tablet
    @media (min-width: $bp-mobile) and (max-width: $bp-tablet) {
        font-size: 46px;
        line-height: 59.8px;
    }
    //Mobile
    @media (max-width: $bp-mobile) {
        font-size: 28px;
        line-height: 49.4px;
    }
}
@mixin title-large {
    font-size: 100px;
    line-height: 1.3;
    font-weight: bold;
    color: $color-p-white;

    //Tablet
    @media (min-width: $bp-mobile) and (max-width: $bp-tablet) {
        font-size: 92px;
    }
    //Mobile
    @media (max-width: $bp-mobile) {
        font-size: 60px;
    }
}
