// Primary
$color-p-400: #ECDDC0;
$color-p-black: #07071C;
$color-p-black-10: #11111110;
$color-p-white: #fff;

// Neutral Colors
$color-n-grey: #f6f6f6;

// States
$color-s-error: #d71919;
$color-s-error-10: #ef080827;
